* {
  box-sizing: border-box;
}

.header {
  height: 80px;
  padding-right: 36px;
  padding-left: 36px;
  font-family: "Righteous", cursive;
  font-size: 32px;
  line-height: 80px;
  color: #fff;
  background-color: #41b883;
}

.container {
  margin-top: 36px;
  margin-left: 36px;
}

.display {
  width: 200px;
  height: 1em;
  height: 70px;
  padding: 0 8px;
  font-size: 24px;
  line-height: 50px;
  text-align: right;
  border: 1px solid #333;
}

.key {
  width: 50px;
  height: 50px;
  font-size: 20px;
  font-weight: 700;
}

.key-wide {
  width: 100px;
}
